{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container mt-5">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Despesas</a></li>
            <li class="breadcrumb-item"><a href="{% url 'listagem_categorias' %}">Categorias</a></li>
            <li class="breadcrumb-item active" aria-current="page">Criar nova categoria</li>
        </ol>
    </nav>
    <div class="card mt-5">
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {{form | crispy}}
                <button type="submit" class="btn btn-success mt-3">Criar categoria</button>
            </form>    
        </div>
    </div>
</div>
{% endblock %}